main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  width: 30%;
  border: 3px solid #f1f1f1;
  padding: 3em;
}

hr {
  margin-bottom: 30px;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: #f1f1f1;
  margin-bottom: 20px;
}

#login-btn {
  background-color: #e1341e;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 1000px) {
  #form-container {
    width: 60%;
  }
}

@media (max-width: 700px) {
  #form-container {
    width: 70%;
  }
}

@media (max-width: 400px) {
  #form-container {
    width: 80%;
  }
}

.signup-question a {
  text-decoration: none;
}
